.Footer{
    background-color: white; 
    padding: 4px 80px;
    display: flex;
    justify-content: space-evenly;
}
.item{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 50px;
}
.caption {
    display: block;
    width: 70px;
    position: relative;
    left: -10px;
}
